body {
    background-color: #2f2f2f; /* Dark gray background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
    font-family: Arial, sans-serif;
}

.auth, .front-page, .board {
    background-color: #686868; /* Light gray panel */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 300px;
}

input[type="email"], input[type="password"], input[type="text"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

button {
    width: 60%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #2f2f2f; /* Dark gray */
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #454545; /* Slightly lighter dark gray */
}

.board {
    display: none; /* Initially hidden */
}

.box {
    width: 90px;
    height: 90px;
    font-size: 65px;
    background-color: #2f2f2f; /* Dark gray boxes */
    color: white;
    border: none;
    margin: 5px;
    cursor: pointer;
}

.reset button {
    width: auto;
}

#connect-buttons {
    margin-top: 20px;
}

#connect-buttons button {
    margin: 5px;
}